@page "/image-manager"
@using Microsoft.Extensions.Options
@using PokerVisionAI.Domain.Dtos
@using PokerVisionAI.Domain.Helpers
@using PokerVisionAI.Domain.Options
@using PokerVisionAI.Features.Card
@using Radzen
@using Radzen.Blazor

@inject CardUseCases _useCases
@inject IOptions<EncrypterOptions> _encrypterOptions

<div class="container-fluid">
    <RadzenDataGrid Data="@images" 
                    TItem="CardDTO"
                    GridLines="Radzen.DataGridGridLines.Both"
                    Count="@Count"
                    AllowFiltering="true" 
                    AllowColumnResize="true" 
                    AllowSorting="true" 
                    AllowPaging="true" 
                    PageSize="10">
        <Columns>
            <RadzenDataGridColumn TItem="CardDTO" Property="Name" Title="Nombre" />
            <RadzenDataGridColumn TItem="CardDTO" Property="Force" Title="Fuerza" />
            <RadzenDataGridColumn TItem="CardDTO" Property="Suit" Title="Palo" />
            <RadzenDataGridColumn TItem="CardDTO" Property="Image" Title="Imagen" TextAlign="TextAlign.Center">
                <Template Context="data">
                    <RadzenImage Path="@($"data:image/jpeg;base64,{data.ImageBase64}")" />
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CardDTO" Context="image" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
                <Template Context="image">
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" 
                                Icon="delete" 
                                Size="ButtonSize.Small"
                                Click="@(() => DeleteImage(image))" />
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</div>
