@page "/table-map-manager"
@using Microsoft.Extensions.Options
@using PokerVisionAI.Domain.Dtos
@using PokerVisionAI.Domain.Options
@using PokerVisionAI.Features.Regions
@using PokerVisionAI.Features.TableMap
@using Radzen
@using Radzen.Blazor

@inject TableMapUseCases _useCasesTableMaps
@inject RegionUseCases _useCasesRegions
@inject IOptions<TableMapOptions> _options

<div class="container-fluid">
    <h3>Gestor de Mapas de Mesa</h3>
    <!-- Grid de TableMaps existentes -->
    <RadzenDataGrid Data="@tableMaps"
                    TItem="TableMapDTO"
                    AllowFiltering="true"
                    AllowColumnResize="true"
                    AllowSorting="true"
                    AllowPaging="true"
                    PageSize="10">
        <Columns>
            <RadzenDataGridColumn TItem="TableMapDTO" Property="Name" Title="Nombre" />
            <RadzenDataGridColumn TItem="TableMapDTO" Title="Regiones">
                <Template Context="tableMap">
                    <div style="max-width: 300px;">

                        @if(tableMap.Regions != null && tableMap.Regions.Any())
                        {
                            <div class="d-flex flex-wrap gap-1">
                                @foreach (var region in tableMap.Regions)
                                {
                                    <RadzenBadge BadgeStyle="BadgeStyle.Info"
                                                 Text="@region.Name" />
                                }
                            </div>
                        }
                    </div>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TableMapDTO" Width="100px">
                <Template Context="tableMap">
                    <RadzenButton Click="@(() => EditTableMap(tableMap))"
                                  ButtonStyle="ButtonStyle.Light"
                                  Icon="edit"
                                  Size="ButtonSize.Small"
                                  Class="me-1" />
                    <RadzenButton Click="@(() => DeleteTableMap(tableMap))"
                                  ButtonStyle="ButtonStyle.Danger"
                                  Icon="delete"
                                  Size="ButtonSize.Small" />
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</div>